* {
    transition: cubic-bezier(.17, .67, .83, .67);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    font: inherit;
}

body {
    background: #ffffff;
    overflow: hidden;
    color: #ffffff;
}

#container {
    position: relative;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 250px;
    overflow: hidden;
    cursor: pointer;
}

#border {
    position: absolute;
    width: 300px;
    height: 250px;
    top: 0px;
    left: 0px;
    border: 1px solid #000000;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.abs0 {
    opacity: 0
}

.abs1 {
    opacity: 1
}

.bg {
    transform: scale(2);
    transform-origin: 219px 30px;
}

.banner-container {
    width: 300px;
    height: 250px;
    position: relative;
    overflow: hidden;
    background: #78dd74;
    cursor: pointer;
    border: 1px solid #000;
}

.main-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.logo-white {
    position: absolute;
    left: 15px;
    top: 15px;
}

.frame1,
.frame2,
.frame3 {
    position: absolute;
    width: 100%;
    height: 100%;
}


.frame1 img {
    position: absolute;
}

.frame1 .content-1 .text1 {
    bottom: 76px;
    left: 2px;
}

.frame1 .content-1 .text2 {
    bottom: 32px;
    left: 15px;
}

.frame1 .bottom-text {
    bottom: 7px;
    left: 15px;
}

.frame1 .content-2 .text1 {
    bottom: 143px;
    left: 15px;
}

.frame1 .content-2 .text2 {
    bottom: 115px;
    left: 15px;
}

.frame1 .content-2 .text3 {
    bottom: 79px;
    left: 15px;
}

.frame1 .content-2 .text4 {
    bottom: 54px;
    left: 15px;
}

.frame1 .content-2 .text5 {
    bottom: 26px;
    left: 15px;
}



/* Frame 3 */
.frame3 {
    background: #78dd74;
    display: flex;
    align-items: center;
    justify-content: center;
}

.frame3 img {
    position: absolute;
    /* background-color: #78dd74; */
}

.frame3 .text1 {
    top: 30px;
}

.frame3 .text2 {
    top: 75px;
}

.frame3 .text3 {
    top: 88px;
}

.frame3 .text4 {
    top: 102px;
}

.frame3 .cta-btn {
    position: absolute;
    top: 126px;
    padding: 3px 12px;
    border: 1px solid #000000;
    border-radius: 20px;
}

.frame3 .cta-btn img {
    position: relative;
}

.frame3 .logo-black {
    bottom: 35px;
}

.frame3 .btm-text-black {
    bottom: 12px;
}